fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
pydantic
gTTS
pypinyin
python-multipart
databases
python-dotenv # Utile pour la configuration DB
httpx
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
email-validator
google-auth
google-auth-oauthlib
google-auth-httplib2
